*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: teal;
}

.galeria img {
    flex: 1% 1% 1%;
    width: 200px;
    height: 200px;
}